<div class="subscribe-line bg-green">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title">Get in Touch</h3>
                <h5>
                    You need more information? Check what other persons are saying about our product. They are very happy with their purchase.
                </h5>
            </div>
            <div class="col-md-6">
                <div class="card card-plain card-form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="title my-0">
                                    +44 (2038) 07 15 07 </h2>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-green btn-lg float-right"><b>Contact Us</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>