{% extends "_layout_cn" %} {% block main %}

    <!--   MAIN block   -->
    <!-- Carousel Card -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header header-filter page-header-small"
                     style="background-image: url('https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
                    <div class="container px-5">
                        <div class="row">
                            <div class="col-md-6 text-left px-5">
                                <h1 class="title">区块链服务</h1>
                                <h4>区块链的商业前景如何？这项技术可以提供的支持还有很多，其影响才刚刚开始显现。
                                </h4>
                                <br>
                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-green btn-lg">
                                        更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter page-header-small"
                     style="background-image: url('https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
                    <div class="container px-5">
                        <div class="row">
                            <div class="col-md-6 text-left px-5">
                                <h1 class="title">AS 环球金融专业咨询</h1>
                                <h4>区块链的商业前景如何？这项技术可以提供的支持还有很多，其影响才刚刚开始显现。随着越来越多的公司意识到区块链的价值</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="page-header header-filter page-header-small"
                     style="background-image: url('https://images.pexels.com/photos/7357/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
                    <div class="container px-5">
                        <div class="row">
                            <div class="col-md-6 text-left px-5">
                                <h1 class="title">企业收购</h1>
                                <h4>行业将从传统的集中模式转向个人控制交易的系统。随着这些商业模式的转变，新的机遇也会出现。</h4>
                                <br>
                                <div class="buttons">

                                    <a href="#pablo" class="btn btn-green btn-lg">
                                        更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Card -->
    <div class="main ">
        <div class="header-filter bg-filter" style=" background-repeat:no-repeat; background-size:cover;  background-image: url('https://media.istockphoto.com/vectors/abstract-grey-hitech-corporate-background-vector-id820616106')">
            <!-- Services -->
            <div class="container">
                <div class="features-1">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title  mb-0">我们的服务 </h2>
                        </div>
                    </div>

                    <ul class="nav nav-pills nav-pills-icons row" id="muTab" role="tablist">
                        <!--
                            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                        <li class="nav-item m-0 col-md-4">
                            <a class="nav-link active tab-item" href="#dashboard-1" role="tab" data-toggle="tab">
                                <h4 class="font-weight-bold">
                                    <i class="material-icons">account_balance</i>
                                    外汇监管牌照
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item m-0 col-md-4">
                            <a class="nav-link tab-item" href="#schedule-1" role="tab" data-toggle="tab">
                                <h4 class="font-weight-bold">

                                    <i class="material-icons">monetization_on</i>
                                    区块链服务
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item m-0 col-md-4">
                            <a class="nav-link tab-item" href="#tasks-1" role="tab" data-toggle="tab">
                                <h4 class="font-weight-bold">

                                    <i class="material-icons">business_center</i>
                                    境外公司注册
                                </h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="dashboard-1">
                            金融并不是区块链重塑未来的唯一领域。公司和机构的行政人员也将受益于区块链技术。
                            <br/>
                            公司和机构的行政人员也将受益于区块链技术。
                        </div>
                        <div class="tab-pane" id="schedule-1">
                            智能合约对于公司治理和业务来说都很重要，在政府部门也有应用。
                            <br/>
                            随着这些商业模式的转变，新的机遇也会出现。
                        </div>
                        <div class="tab-pane" id="tasks-1">
                            在法律行业，基于公共部门会计准则的智能合约允许个人在不需要诸如公证人或律师等中间人的情况下安全地进行交易。
                            <br/>
                            智能合约对于公司治理和业务来说都很重要，在政府部门也有应用。
                        </div>
                    </div>
                </div>
            </div>


            <!--NEWS -->
            <div class="container">
                <div class="row">
                    <div class=" ml-auto mr-auto">
                        <h2 class="title">新闻动态 </h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-plain card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img class="img img-raised"
                                                 src="https://images.pexels.com/photos/37724/pexels-photo-37724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-info"><i class="material-icons">trending_up</i> 行业新闻
                                        </h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">未来：区块链被使用的领域会持续增长</a>
                                        </h4>
                                        <p class="card-description">
                                            区块链的商业前景如何？这项技术可以提供的支持还有很多，其影响才刚刚开始显现。
                                            <a href="#pablo"> 更多 </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-plain card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img class="img img-raised"
                                                 src="https://images.pexels.com/photos/730564/pexels-photo-730564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
                                        </a>
                                    </div>
                                    <div class="card-body ">
                                        <h6 class="card-category text-success">
                                            <i class="material-icons">business_center</i> 公司新闻
                                        </h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">比特币以外的区块链：企业如何实现应用落地</a>
                                        </h4>
                                        <p class="card-description">
                                            在物流方面，区块链可以为运营商节省数十亿美元。国际航运公司马士基( maersk )与IBM联手，利用区块链技术实现供应链数字。
                                            <a href="#pablo"> 更多 </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-plain card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img class="img img-raised"
                                                 src="https://images.pexels.com/photos/37724/pexels-photo-37724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
                                        </a>
                                    </div>
                                    <div class="card-body ">
                                        <h6 class="card-category text-danger">
                                            <i class="material-icons">trending_up</i> 行业新闻
                                        </h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">分布式记账技术逐渐进入各行各业</a>
                                        </h4>
                                        <p class="card-description">
                                            从2008年科技浪潮兴起开始，世界就大不一样了。在智能手机刚出现的一年内，在线拼车、移动支付等移动互联网行业还没完全显现出它们的价值。
                                            <a href="#pablo"> 更多 </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactus-1 section-image"
             style="background-image: url('https://images.pexels.com/photos/531360/pexels-photo-531360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="title">联系我们</h2>
                        <h5 class="description">欢迎随时以电话或电邮联络我们，体验专为您而设的贴心服务</h5>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">公司地址</h4>
                                <p> Bld Mihail Kogalniceanu, nr. 8,
                                    <br> 7652 Bucharest,
                                    <br> Romania
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">电话</h4>
                                <p> Michael Jordan
                                    <br> +40 762 321 762
                                    <br> Mon - Fri, 8:00-22:00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <div class="card card-contact">
                            <form id="contact-form" method="post">
                                <div class="card-header card-header-raised card-header-primary text-center">
                                    <h4 class="card-title">联系我们</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty bmd-form-group">
                                                <label class="bmd-label-floating">姓</label>
                                                <input type="text" name="name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty bmd-form-group">
                                                <label class="bmd-label-floating">名</label>
                                                <input type="text" name="name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating is-empty bmd-form-group">
                                        <label class="bmd-label-floating">电子邮箱</label>
                                        <input type="email" name="email" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="form-group label-floating is-empty bmd-form-group">
                                        <label for="exampleMessage1" class="bmd-label-floating">信息</label>
                                        <textarea name="message" class="form-control" id="exampleMessage1"
                                                  rows="6"></textarea>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="card-footer justify-content-between">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value=""> 我不是机器人
                                            <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-green pull-right">发送</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}