{% extends "_layout_cn" %} {% block main %}
    <!--   MAIN block   -->
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/34092/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">外汇牌照</h2>
                    <h2 class="title">国际金融监管资质</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section pt-5 pb-0">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3 class="title text-center">推荐服务</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-raised card-background" style="background-image: url('https://images.pexels.com/photos/34223/mont-saint-michel-france-normandy-europe.jpg?cs=srgb&dl=ancient-architecture-castle-34223.jpg&fm=jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">北美</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">圣文森特金融IBC服务</h3>
                                </a>
                                <p class="card-description">
                                    圣文森特与格林纳丁斯拥有丰富的金融服务资源，包括银行、国际保险公司、注册代理、共同基金、信托和国际贸易公司。</p>
                                <a href="#pablo" class="btn btn-green btn-round">
                                    <i class="material-icons">format_align_left</i> 更多
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-raised card-background" style="background-image: url('/img/bahama.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">北美</h6>
                                <h3 class="card-title">巴哈马金融服务</h3>
                                <p class="card-description">
                                    巴哈马位于美国佛罗里达州以东，古巴和加勒比海以北，包含700座岛屿和珊瑚礁，总面积为13878平方公里。作为美国的密邻，巴哈马距离美国东南部仅80公里，与美国和以英国为代表的欧洲国家有着深厚渊源。
                                </p>
                                <a href="#pablo" class="btn btn-green btn-round">
                                    <i class="material-icons">format_align_left</i> 更多
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-raised card-background" style="background-image: url('https://images.pexels.com/photos/417382/pexels-photo-417382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
                            <div class="card-body">
                                <h6 class="card-category text-info">亚洲</h6>
                                <h3 class="card-title">阿联酋金融服务</h3>
                                <p class="card-description">
                                    开曼政局稳定，无外汇限制，不收直接税，外国大公司纷纷来岛上从事金融业务。到1997年6月，世界50家大银行中有47家在岛上设有分支机构。百度、阿里巴巴、分众传媒、人人网、奇虎360等这些我们所熟知的公司，都选择了在开曼群岛注册
                                </p>
                                <a href="#pablo" class="btn btn-green btn-round">
                                    <i class="material-icons">subject</i> 更多
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section pt-3 pb-0">
                <h3 class="title text-center">其他牌照</h3>
                <br>
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>产品</th>
                                <th class="th-description">介绍</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img class="img-raised rounded img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Vanuatu_%28official%29.svg/900px-Flag_of_Vanuatu_%28official%29.svg.png" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket">瓦努瓦图</a>
                                    <br>
                                    <small>太平洋</small>
                                </td>
                                <td>
                                    为受益人、股东和官员瓦努阿图提供高度保密性。此外，公司成立20年内，免缴资本利得税、利得税及印花税。

                                </td>

                                <td class="td-actions">
                                    <a href="#pablo" class="btn btn-green btn-round">
                                        <i class="material-icons">subject</i> 更多
                                        <div class="ripple-container"></div></a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img class="img-raised rounded img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/600px-Flag_of_Greece.svg.png" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket">塞浦路斯</a>
                                    <br>
                                    <small>欧洲</small>
                                </td>
                                <td>
                                    塞浦路斯为外汇经纪公司提供了一个非常完善的环境。这是众所周知的，也是欧盟获得金融许可证的最佳选择之一。它遵循塞浦路斯金融服务机构（CySEC - 塞浦路斯证券交易委员会）执行的非常严格的规则和条例.

                                </td>

                                <td class="td-actions">
                                    <a href="#pablo" class="btn btn-green btn-round">
                                        <i class="material-icons">subject</i> 更多
                                        <div class="ripple-container"></div></a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img class="img-raised rounded img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Vanuatu_%28official%29.svg/900px-Flag_of_Vanuatu_%28official%29.svg.png" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket">瓦努瓦图</a>
                                    <br>
                                    <small>太平洋</small>
                                </td>
                                <td>
                                    为受益人、股东和官员瓦努阿图提供高度保密性。此外，公司成立20年内，免缴资本利得税、利得税及印花税。

                                </td>

                                <td class="td-actions">
                                    <a href="#pablo" class="btn btn-green btn-round">
                                        <i class="material-icons">subject</i> 更多
                                        <div class="ripple-container"></div></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-line bg-green">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title">联系我们</h3>
                        <h5>
                            您需要更多的信息吗? 如有任何帮助或询问, 拨打热线获得更多资讯
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-plain card-form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 class="title my-0">
                                            +44 (2038) 07 15 07 </h2>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-green btn-lg float-right"><b>联系我们</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}